/* Mengatur layout form */
form {
  display: flex;
  flex-direction: column; /* Menumpuk elemen form ke bawah */
  gap: 12px; /* Jarak antar elemen */
  margin-top: 20px;
}

form h2 {
  text-align: center;
  color: #004a99; /* Biru UT */
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  display: block; /* Pastikan label di atas input */
}

/* Kotak input */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%; /* Lebar penuh */
  box-sizing: border-box; /* Agar padding tidak merusak lebar */
}
