body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Memastikan footer menempel di bawah */
}

main {
  flex: 1; /* Membuat main content mengisi ruang sisa */
  padding-top: 80px; /* Memberi jarak agar tidak tertutup header */
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 63vh; /* Tinggi minimal area hero */
  padding: 2.1rem;
  background-image: url("../img/banner-landing.png");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 kolom, 50/50 */
  align-items: center; /* Pusatkan konten secara vertikal */
  gap: 2.5rem;
  position: relative;
  z-index: 0;
}

.banner h1 {
  font-size: 3.5rem;
  color: #004a99;
  margin-bottom: 0.5rem;
}

.banner p {
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 1.5rem;
}

/*FORMULIR MULTIFUNGSI*/
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 25px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  position: relative;
}

.close-btn {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
/* Tombol MULTIFUNGSI */
button {
  padding: 10px;
  background-color: #ffc425; /* Kuning UT */
  color: #004a99;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #dbae1b;
}

footer {
  width: auto;
  height: 200px;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  background-image: url("../img/banner-footer.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
